.menu-pop-mobile {
  background-color: theme-color(dark);
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  z-index: 60;
  width: 80vw;
  height: fit-content;
  border: solid 1px $color-dark-gray;
  padding-bottom: 40px;
  transform: translateX(-50%) translateY(-50%);

  @include if-tablet {
    width: 300px;
    height: 550px;
    padding-bottom: 0;
  }

  &.-visible {
    visibility: visible;
  }

  &__box {
    color: theme-color(active);
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    font-size: font-size(small);
  }

  &__text-command {
    color: orange;
    line-height: 1.8;
    padding: 10px 0;
  }

  &__label-box {
    align-items: center;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    width: 100%;
    background-color: $color-dark-gray;
  }

  &__label {
    color: $color-black;
    font-family: $font-family-primary;
    font-size: font-size(medium);
  }

  &__button {
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__list-box {
    padding: 0 20px;
    color: theme-color(active);
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    font-size: font-size(small);
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &__list-title {
    color: theme-color(inactive);
  }

  &__command {
    background-color: transparent;
    border: none;
    color: theme-color(active);
    font-family: $font-family-primary;
    font-size: font-size(small);
    text-align: left;
    text-decoration: none;
    &:hover {
      background-color: darken(theme-color(inactive), 30%);
      cursor: pointer;
    }
  }
}
