.documentation-menu-interface {
  position: fixed;
  display: flex;
  align-items: center;
  height: fit-content;
  top: 50%;
  right: -100%;
  width: 75vw;
  background-color: $color-black;
  z-index: $z-index-sky;
  transition: cta-transition([right], 0.5s);
  transform: translateY(-50%);
  box-shadow: $shadow-main;

  @include if-desktop {
    width: 270px;
  }

  @include if-desktop-xl {
    width: 350px;
  }

  &.-active {
    right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: font-size(small);
    padding: 20px 30px;

    @include if-desktop-xl {
      padding: 30px 40px;
      font-size: font-size(medium);
    }
  }

  &__text {
    font-family: $font-family-primary;
    color: $color-white;
  }

  &__command {
    font-family: $font-family-primary;
    color: orange;
    margin: 20px 0;
    text-align: start;
  }

  &__title {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-dark-gray;
    padding-bottom: 10px;
  }

  &__name {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
    margin-bottom: 10px;
    text-align: start;
    transition: cta-transition(background-color, 0.1s);

    &:hover {
      background-color: $color-dark-gray;
      cursor: pointer;
    }
  }
}
