.status-bar {
    position: fixed;
    top: 0;
    left: 0;
    color: theme-color(active);
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    font-size: font-size(small);
    background-color: $color-black-shade;
    width: 100%;
    z-index: $z-index-upper;

    @include if-tablet {
        font-size: font-size(medium);
    }

    &__online-state-available {
        color: theme-color(positive);
    }

    &__offline-state {
        color: theme-color(negative);
    }
}