.status-bar {
    color: theme-color(active);
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    font-size: font-size(small);

    @include if-tablet {
        font-size: font-size(medium);
    }

    &__online-state-available {
        color: theme-color(positive);
    }

    &__offline-state {
        color: theme-color(negative);
    }
}