@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$font-family-primary: 'VT323', monospace;
$font-family-secondary: 'Press Start 2P', cursive;

@function px-to-rem($_size) {
    $rem-size: $_size / 16px;
    @return #{$rem-size}rem;
}

$font-size-map: (
    mini: px-to-rem(20px),
    small: px-to-rem(27px),
    medium: px-to-rem(35px),
    large: px-to-rem(50px),
);

@function font-size($_key) {
    @return map-get($font-size-map, $_key);
}


