.project-menu-interface {
  position: fixed;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: $color-black;
  z-index: $z-index-sky;
  transition: cta-transition([bottom], 0.5s);
  box-shadow: $shadow-main;
  transform: translateX(-50%) translateY(-50%);
  top: 55%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transition: cta-transition([opacity top visibility]);

  &.-active {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px;

    @include if-desktop-xl {
      padding: 30px 40px;
    }
  }

  &__text {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
  }

  &__command {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: orange;
    margin: 20px 0;
    text-align: start;
  }

  &__title {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-dark-gray;
    padding-bottom: 10px;
  }

  &__name {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
    margin-bottom: 10px;
    text-align: start;
    transition: cta-transition(background-color, 0.1s);
    text-decoration: none;

    &:hover {
      background-color: $color-dark-gray;
      cursor: pointer;
    }
  }
}
