.project-menu-interface {
  position: fixed;
  display: flex;
  align-items: center;
  height: fit-content;
  bottom: -100%;
  right: 0;
  width: fit-content;
  background-color: $color-black;
  padding: 2%;
  z-index: $z-index-sky;
  transition: cta-transition([bottom], 0.5s);

  &.-active {
    bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__text {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
  }

  &__command {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: orange;
    margin: 20px 0;
    text-align: start;
  }

  &__title {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-dark-gray;
    padding-bottom: 10px;
  }

  &__name {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
    margin-bottom: 10px;
    text-align: start;
    transition: cta-transition(background-color, 0.1s);
    text-decoration: none;

    &:hover {
      background-color: $color-dark-gray;
      cursor: pointer;
    }
  }
}
