.command-menu-launcher {
  $_parent: &;
  position: fixed;
  display: flex;
  height: 100%;
  align-items: center;
  bottom: 0;
  left: 0;
  z-index: $z-index-upper;
  padding: 50px 50px 50px 10px;

  &.-main {
    position: absolute;
    bottom: 50px;
    height: fit-content;
    padding: 50px;
    transform: translateX(-50%);
    left: 50%;

    @include if-desktop {
      padding: 50px 50px 50px 10px;
      transform: none;
      height: 100%;
      left: 0;
      bottom: 0;
    }

    #{$_parent}__text {
      writing-mode: horizontal-tb;

      @include if-desktop {
        writing-mode: vertical-lr;
      }

    }
  }

  @include if-desktop {
    padding: 10px;
  }

  &.-active {
    #{$_parent}__text {
      color: $color-white;
      opacity: 0;
    }
  }

  &__text {
    opacity: 1;
    color: $color-dark-gray;
    font-family: $font-family-secondary;
    font-size: font-size(mini);
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    // text-orientation: upright;
    transition: cta-transition(opacity, 0.5s);
    cursor: default;

    @include if-desktop {
      font-size: x-large;
    }
    @include if-desktop-xl {
      font-size: font-size(medium);
    }
  }

}
