.main {
    height: 100vh;
    padding: 5px 10px 10px 10px;
    position: fixed;
    width: 100vw;

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__navigation {
        display: flex;
        height: 30vh;

        @include if-desktop {
            height: 23vh;
        }
    }

    &__machine {
        display: flex;
        flex-direction: column;
        height: 68vh;

        @include if-desktop {
            height: 75vh;
        }
    }
}