.ai {
    text-align: center;
    justify-content: center;
    color: theme-color(active);
    display: flex;
    font-family: $font-family-primary;
    font-size: font-size(medium);
    height: fit-content;
    width: 99vw;
    padding: 0 30px;

    @include if-tablet {
        padding: 0 20%;
    }

    @include if-desktop {
        font-size: font-size(large);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__icon-box {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

}