.ai {
    align-items: center;
    color: theme-color(active);
    display: flex;
    font-family: $font-family-primary;
    font-size: font-size(medium);
    height: 100%;
    width: 90vw;
    justify-content: center;
    padding: 20% 10% 0 10%;
    text-align: center;

    @include if-tablet {
        padding: 0 20%;
    }

    @include if-desktop-xl {
        font-size: font-size(large);
    }
}