.ai {
    align-items: center;
    color: theme-color(active);
    display: flex;
    font-family: $font-family-primary;
    font-size: font-size(medium);
    justify-content: center;
    text-align: center;

    @include if-tablet {
        font-size: 40px;
        padding: 0 50px;
    }

    @include if-desktop {
        padding: 3% 300px;
    }
    @include if-desktop-xl {
        padding: 7% 25%;
    }
}