.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  height: 100%;

  @include if-desktop {
    margin-top: 70px;
    padding: 0 5%;
    height: 90vh;
    width: 100vw;
}

@include if-desktop-xl {
    height: 92vh;

  }

  &__title-mobile {
    padding-top: 80px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-primary;
    color: $color-white;
    font-size: font-size(large);

    @include if-desktop {
      display: none;
    }
  }

  &__title-desktop {
    height: 10%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: $font-family-primary;
    color: $color-white;
    font-size: font-size(large);

    @include if-desktop {
      display: flex;
    }
  }

  &__image-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__main-image {
    width: 90%;
    object-fit:cover;
    padding: 10px;
  }

  &__secondary-image-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 45%;
    object-fit: cover;
    padding: 10px;
  }

  &__info-box {
    width: 100%;
    padding: 10px;
  }

  &__summary {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: $font-family-primary;
    color: $color-dark-gray;
    font-size: font-size(medium);
  }

  &__text {
    font-family: $font-family-primary;
    color: $color-white;
    font-size: font-size(mini);

    @include if-desktop-xl {
      font-size: font-size(small);
    }
  }
}
