.command-menu-interface {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  left: -100%;
  width: 20vw;
  background-color: $color-black;
  padding: 2%;
  z-index: $z-index-sky;
  transition: cta-transition([left], 0.5s);

  &.-active {
    left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-dark-gray;
    padding-bottom: 10px;
  }

  &__command {
    font-family: $font-family-primary;
    font-size: font-size(medium);
    color: $color-white;
    margin-bottom: 10px;
    text-align: start;
    transition: cta-transition(background-color, 0.1s);
    text-decoration: none;

    &:hover {
      background-color: $color-dark-gray;
      cursor: pointer;
    }
  }
}
